body{
  font-family:cursive;
}

/* Background */

#homeback {
  background-image: url('http://www.hdwallpaperbackgrounds.org/hd-wallpapers-backgrounds/New-York-city-scenery-hd-wallpaper-1680x1050.jpg');
  height: 100%;
  width: 100%;
  background-size: 100%;
  position: absolute;
  background-repeat: no-repeat;
}

/* Nav Bar */

.logo {
  margin-left:20px;
  font-weight:600;
}

.pills li{
  display:inline-block;
  list-style:none;
  padding: 25px 20px 0;
  float: right;
  font-weight:300;
}

.pills li a {
  color:white;
  text-decoration:none;
}
.nav-bar {
  color:white;
}
/* Dropdown */
.pills .dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.pills .dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}

/*Home screen text*/

.middle{
  text-align:center;
  padding-top:250px;
}

.btn{
  margin-top:20px;
}

.inter{
  padding: 10px 40px;
  background-color:red;
  border-radius:10%;
  color:white;
}

.inter a{
  text-decoration:none;
}

.btn .inter:hover{
  color:white;
  text-decoration:none;
}


/* Content */

.content {
  top:100%;
  position:absolute;
  text-align:center;
  width:100%;
  margin-top: 40px;
  height:50%;
}

.number{
  padding-top:35px;
}

.content h1 {
  color: #2B87F6;
  font-weight: 400;
}

.content p{
  margin-top: 50px;
  color:#AFB1B2;
  font-size: 20px;
  font-weight:150;
}

/*Second Part Content */

.background-image {
  background-image:url('http://i60.tinypic.com/2gw8h2f.jpg');
  background-size:cover;
  top:180%;
  height:60%;
  width:100%;
  position:absolute;
  background-position: 50% 50%;
  color:white;
}

.image-text {
  text-align: center;
  padding-top:10%;
}

.text-hover {
  text-align: center;
}

.background-image:hover h1{
  margin-top:-50px;
  }

  .background-image:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.3;
}
/* text appear when hover image */

.background-image .overlay .text-hover p{
  font-size: 30px;
}

/* Sliding Images */
.slider {
  position: absolute;
  width: 100%;
  top:240%;
}

.slider .img {
  height:400px;
  position:50% 100%;
}

.slider-nav {
  text-align:center;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}


.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.active-dot {
  color: #363636;
}
